@import "@radiance/ui/globals.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-50 text-foreground antialiased;
}

::selection {
  @apply bg-primary-200 text-primary-900;
}
