@import "@radiance/ui/globals.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-900 text-foreground antialiased;
}

/* Custom scrollbar for mobile frame */
.mobile-scroll::-webkit-scrollbar {
  width: 4px;
}

.mobile-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.mobile-scroll::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
